# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
venv/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Data & images
backend/data/*.csv
backend/static/images/*
backend/announcements/uploads/*
!backend/data/.gitkeep
!backend/static/images/.gitkeep
!backend/announcements/uploads/.gitkeep

# Expo/React Native cache
.expo/
.expo-shared/
